.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    h2{
        font-size: 20px;
    }
}

button{
    background: none;
    border: 0.5px solid transparent;
    border-radius: 16px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    svg {
        width: 15px;
        height: 15px;
    }
}

.countries-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 5px;
    width: 90%;
}

.search-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;

    input{
        width: 100%;
        border-radius: 12px;
        max-width: 300px;
        height: 40px;
        padding-left: 40px;
        margin-left: 10px;
        margin-top: 12px;
        background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
        background-position: 10px 7px;
        background-repeat: no-repeat;
        transition: 0.2s ease-in-out;
        
        &:hover{
          cursor: pointer;
        }
    }

    .filters{
        position: absolute;
        z-index: 10;
    }
}

.grid-item{
    border: .5px solid transparent;
    border-radius: 12px;
    margin: 8px;
    margin-top: 18px;
    box-shadow: 0px 0px 50px -22px rgba(97, 97, 97, 0.38);
    display: flex;
    flex-direction: column;

    .flag {
        img {
            width: 100%;
        }
    }

    .infos-country{
        margin-left: 10px;
    }

    &:hover{
        cursor: pointer;
    }
}