@use 'sass:map';
@use '@angular/material' as mat;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200..1000&display=swap');

$main-font: 'Nunito Sans', sans-serif;

$light-theme-colors: (
  primary-background: hsl(0, 0%, 98%),
  secondary-background: hsl(0, 0%, 100%),
  text-color: hsl(200, 15%, 8%),
  secondary-text-color: #4d4c4c,
  border-color: #adadad,
  chip-text-color: #1a1a1a
);

$dark-theme-colors: (
  primary-background: hsl(207, 26%, 17%),
  secondary-background: hsl(209, 23%, 22%),
  text-color: hsl(0, 0%, 100%),
  secondary-text-color: #cccccc,
  border-color: #a7a7a78c,
  chip-text-color: #f0f0f0
);

@mixin theme-colors($theme) {
  background-color: map-get($theme, primary-background);
  color: map-get($theme, text-color);

  input, select, textarea {
    background-color: map-get($theme, secondary-background);
    color: map-get($theme, text-color);
  }

  ::placeholder {
    color: map-get($theme, secondary-text-color);
  }

  button {
    color: map-get($theme, text-color);
    transition: 0.2s background-color ease-in-out;

    &:hover{
      cursor: pointer;
      background-color: map-get($theme, secondary-background);
    }
  }

  .filters, .filter, .toolbar {
    background-color: map-get($theme, secondary-background);
  }

  .grid-item{
    background-color: map-get($theme, secondary-background);
  }

  .mat-mdc-chip-set {
    --mdc-chip-label-text-color: map-get($theme, chip-text-color);
  }
}

.light-theme {
  @include theme-colors($light-theme-colors);
}

.dark-theme {
  @include theme-colors($dark-theme-colors);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: $main-font;
  transition: background-color 0.3s ease, color 0.3s ease;
}